/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `judgestatus` (
  `judge_id` int NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `problem_id` int NOT NULL,
  `oj` varchar(255) NOT NULL,
  `result` varchar(127) NOT NULL,
  `time` int NOT NULL,
  `memory` int NOT NULL,
  `length` int NOT NULL,
  `language` varchar(255) NOT NULL,
  `submittime` datetime DEFAULT CURRENT_TIMESTAMP,
  `judger` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT '',
  `contest` int DEFAULT '0',
  `contestproblem` int DEFAULT '0',
  `code` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `testcase` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT '',
  `message` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT '',
  `problemtitle` varchar(255) NOT NULL,
  `rating` int DEFAULT '0',
  `ip` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT '',
  `input_data` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `sample_out_put` text,
  `user_out_put` text,
  PRIMARY KEY (`judge_id`),
  KEY `judgestatus_FK` (`problem_id`),
  KEY `judgestatus_FK_1` (`user_id`),
  CONSTRAINT `judgestatus_FK` FOREIGN KEY (`problem_id`) REFERENCES `problem` (`problem_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `judgestatus_FK_1` FOREIGN KEY (`user_id`) REFERENCES `user_login` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `problem` (
  `problem_id` int NOT NULL AUTO_INCREMENT,
  `author` varchar(255) NOT NULL,
  `addtime` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `oj` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT '',
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `des` text NOT NULL,
  `input` text NOT NULL,
  `output` text NOT NULL,
  `sinput` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `soutput` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `source` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `time` int NOT NULL,
  `memory` int NOT NULL,
  `hint` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `auth` tinyint(1) NOT NULL DEFAULT '0',
  `level` int NOT NULL,
  `problem_code` varchar(127) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT '',
  PRIMARY KEY (`problem_id`),
  UNIQUE KEY `problem_un` (`title`),
  UNIQUE KEY `problem_code` (`problem_code`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `problem_tag` (
  `id` int NOT NULL AUTO_INCREMENT,
  `problem_id` int NOT NULL,
  `tag_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `problem` (`problem_id`,`tag_id`),
  KEY `tag_id` (`tag_id`),
  KEY `problem_id` (`problem_id`),
  CONSTRAINT `problem_tag_ibfk_1` FOREIGN KEY (`problem_id`) REFERENCES `problem` (`problem_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `problem_tag_ibfk_2` FOREIGN KEY (`tag_id`) REFERENCES `tag` (`tag_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `problemdata` (
  `problemdata_id` int NOT NULL AUTO_INCREMENT,
  `problem_id` int NOT NULL,
  `submission` int NOT NULL,
  `ac` int NOT NULL,
  `mle` int NOT NULL,
  `tle` int NOT NULL,
  `rte` int NOT NULL,
  `ole` int NOT NULL,
  `ce` int NOT NULL,
  `wa` int NOT NULL,
  `ue` int NOT NULL,
  `score` int NOT NULL,
  `auth` tinyint(1) NOT NULL,
  `sf` int NOT NULL,
  `fe` int NOT NULL,
  PRIMARY KEY (`problemdata_id`),
  UNIQUE KEY `problemdata_un` (`problem_id`),
  CONSTRAINT `problemdata_ibfk_1` FOREIGN KEY (`problem_id`) REFERENCES `problem` (`problem_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tag` (
  `tag_id` int NOT NULL AUTO_INCREMENT,
  `tag_name` varchar(255) NOT NULL,
  PRIMARY KEY (`tag_id`),
  UNIQUE KEY `tag_name` (`tag_name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `testcases` (
  `test_id` int NOT NULL AUTO_INCREMENT,
  `problem_id` int NOT NULL,
  `test_group` int NOT NULL,
  `inputFileName` varchar(255) NOT NULL,
  `outputFileName` varchar(255) NOT NULL,
  PRIMARY KEY (`test_id`),
  UNIQUE KEY `testcases_uni` (`problem_id`,`test_group`),
  CONSTRAINT `testcases_ibfk_1` FOREIGN KEY (`problem_id`) REFERENCES `problem` (`problem_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_login` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(127) NOT NULL,
  `is_superuser` tinyint NOT NULL,
  `username` varchar(127) NOT NULL,
  `email` varchar(255) NOT NULL,
  `cover_image_url` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='鐢ㄦ埛璁よ瘉鎺堟潈';
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_profile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `phone` varchar(127) DEFAULT NULL,
  `name` varchar(127) DEFAULT NULL,
  `AC_count` int NOT NULL DEFAULT '0',
  `submit_count` int NOT NULL DEFAULT '0',
  `score` int NOT NULL DEFAULT '0',
  `description` text,
  `rating` int unsigned DEFAULT '0',
  `AC_problem` text COMMENT '涓棿鐢ㄧ珫绾块殧寮€',
  `school` varchar(127) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `user_profile` FOREIGN KEY (`user_id`) REFERENCES `user_login` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='鐢ㄦ埛淇℃伅';
/*!40101 SET character_set_client = @saved_cs_client */;
